.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 100vh;
  width: 100vw;
}
.main-container {
  background-color: #ececec;
  width: 70vw;
  height: 70vh;
  border-radius: 20px;
  padding: 60px;
}
.main-container h1 {
  color: #fa991c;
  font-size: xx-large;
  margin-bottom: 10px;
}
.exam-container {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}
.exam-detail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.exam-detail-container h1 {
  color: black;
  font-weight: bold;
}
.exam-time {
  background-color: #35d24e;
  padding-left: 20px; /* Padding on the left side */
  padding-right: 20px; /* Padding on the right side */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
}

.progress-bar {
  margin-bottom: 15px;
  width: 100%; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Background color of the progress bar */
  border-radius: 10px; /* Adjust border radius to make rounded edges */
}

.progress {
  height: 100%; /* Matches the height of the parent progress bar *//* Color of the progress indicator */
  margin: 0; /* Remove default margin of the hr element */
  border: none; /* Remove border */
  border-radius: 10px; /* Matches the border radius of the parent progress bar */
}

.question-main-container * {
  margin-top: 12px;
}
.question-container {
  display: flex;
  justify-content: flex-start;
}
.question-container div {
  font-size: x-large;
  font-weight: bold;
}
.question {
  margin-left: 10px;
}
.question-name {
  color: #fa991c;
}
.options {
  border: 2px solid #fa991c;
  padding: 17px;
  font-size: x-large;
  border-radius: 10px;
  cursor: pointer;
}
.question-sub-btn {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.btn:hover{
  background-color: #fa991c;
  color: white;
}
.selected {
  background-color: #fa991c;
  border: 2px solid grey;
}
.btn-disabled {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #cccccc; /* Light gray background */
  color: #666666; /* Dark gray text color */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.btn:disabled {
  opacity: 0.6; /* Reduce opacity of disabled button */
}
.customModal {
  background: white;
  max-width: 50vw;
  width: 100%;
}

@media (max-width: 770px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }
  .question-sub-btn{
    flex-direction: column;
  }
  .question-container div {
    font-size: large;
  }
  .main-container h1 {
    font-size: large;
    margin-top: 15px;
    padding: 5px;
  }
  .exam-time{
    font-size: small;
  }
  .options{
    font-size: medium;
    padding: 10px;
  }
}
