.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
  width: 100%;
  flex-direction: column;
}
:root {
  width: 100vw;
  height: 100vh;
}
.timer-div{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 30px 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
}
.timer{
  margin: 10px 20px;
  font-family: monospace;
  letter-spacing: 10px;
  font-weight: bold;
}
.btn-container{
  display: flex;
  padding: 20px;
}
.btn{
  margin: 10px 20px;
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.theme-box{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}